# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# Flask
instance/
*.db

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Frontend
node_modules/
dist/

# Environment Variables
.env.local
.env.production