# =====================================
# Python
# =====================================
venv/
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =====================================
# Flask
# =====================================
instance/
*.db
*.sqlite3

# =====================================
# Environment Variables
# =====================================
.env

# =====================================
# Node / Vue
# =====================================
frontend/node_modules/
frontend/dist/

# =====================================
# VS Code
# =====================================
.vscode/

# =====================================
# macOS
# =====================================
.DS_Store

# =====================================
# Logs
# =====================================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =====================================
# Celery
# =====================================
backend/celerybeat-schedule*
backend/celerybeat-schedule.db

# =====================================
# Generated CSV Exports
# =====================================
backend/exports/*
backend/exports/student/*.csv
backend/exports/company/*.csv

# =====================================
# Generated Monthly Reports
# =====================================
backend/exports/reports/*.html

# =====================================
# Uploaded Files
# =====================================
backend/uploads/resume/*
backend/uploads/offer_letters/*

# Keep upload folders
!backend/uploads/resume/.gitkeep
!backend/uploads/offer_letters/.gitkeep

# =====================================
# Misc
# =====================================
*.tmp
*.bak